infrastructure:
  tenant1-k8s-cluster:
     id: 3f5eb7fa-a58d-4589-a93b-7ae403716a0f
     type: kubernetes
     config:
       file: "./deploy/local/tenant1-k8s-cluster.yaml"
     tenant: tenant1
     deployments: ["cloud"]
  tenant2-k8s-cluster:
     id: d762daf2-5e62-4bf4-b979-718b8349ed81
     type: kubernetes
     config:
       file: "./deploy/local/orion-osm-k8s-cluster.yaml"
     tenant: tenant2
     deployments: ["edge", "vcpe"]
