general:
  host: 0.0.0.0
  port: 8008

osm:
  nbi:
    protocol: https
    host: 10.101.10.209
    port: 9999
    username: admin
    password: admin
#  package:
#    host: 192.168.33.111
#    port: 9090
#  ro:
#    host: 192.168.33.111
#    port: 9999

nfs:
  general:
    user: ubuntu
    # Name of key located under ${root}/keys/
    key: network_function
