# SCO/SO configuration
so:
  ip: 10.101.41.168

# OSM configuration
osm:
  nbi:
    protocol: http
    host: 10.101.41.121
    port: 80
    username: admin
    password: admin
  vim:
    fallback: 6663bb03-5fc1-47fe-8628-f8b80c53faf6
#    fallback: f73942cc-de3e-4b5c-a5ac-8a98dcfe19bd
#    fallback: 74990d4d-e107-47e8-a2fc-30e1f4b206ac

# Timings used to check or wait for (async) operations
timings:
  # Re-attempt every X seconds
  interval: 1
  # Timeout (in seconds) before failing specific requests
  timeout:
    default: 60
    instantiation: 60
    action: 50
    scale: 80
    termination: 30
    deletion: 80

# Message broker settings
events:
  active: true
  topics:
    instantiation-ae: ae.register-sc
    actions-portal: actions-notifications

# Network Function access
xnfs:
  general:
    user: ubuntu
    # Name of key located under ${root}/keys/
    ssh-key: network_function
